<mat-card>
  <mat-card-header>
    <mat-card-title>Dados do cliente</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Cep</mat-label>
      <input matInput placeholder="digite aqui" [(ngModel)]="endereco.cep">
    </mat-form-field>
    <mat-form-field>
      <mat-label>País</mat-label>
      <input matInput placeholder="digite aqui" [(ngModel)]="endereco.pais">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Estado</mat-label>
      <input matInput placeholder="digite aqui" [(ngModel)]="endereco.estado">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cidade</mat-label>
      <input matInput placeholder="digite aqui" [(ngModel)]="endereco.cidade">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Bairro</mat-label>
      <input matInput placeholder="digite aqui" [(ngModel)]="endereco.bairro">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rua</mat-label>
      <input matInput placeholder="digite aqui" [(ngModel)]="endereco.rua">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Número</mat-label>
      <input matInput placeholder="digite aqui" [(ngModel)]="endereco.numero">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Complemento</mat-label>
      <input matInput placeholder="digite aqui" [(ngModel)]="endereco.complemento">
    </mat-form-field>
</mat-card-content>
<mat-card-actions align="end">
  <button mat-raised-button color="primary" (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="salvar()">Salvar</button>
</mat-card-actions>
</mat-card>
